<!DOCTYPE html>
<html lang="fr">
  <head th:replace="layout :: head"></head>
  <body>
    <div th:replace="layout :: navbar"></div>
    <div
      class="bg-light d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card shadow p-4" style="width: 100%; max-width: 400px">
        <h1 class="text-center mb-4">Inscription</h1>
        <form th:action="@{/register}" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Entrez votre nom d'utilisateur"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Adresse e-mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Entrez votre e-mail"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Entrez votre mot de passe"
              required
            />
          </div>
          <div class="mb-3">
            <label for="confirm-password" class="form-label"
              >Confirmer le mot de passe</label
            >
            <input
              type="password"
              class="form-control"
              id="confirm-password"
              name="confirm-password"
              placeholder="Confirmez votre mot de passe"
              required
            />
          </div>
          <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
          </div>
          <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
          </div>
          <button type="submit" class="btn btn-primary w-100">
            S'inscrire
          </button>
        </form>
        <div class="text-center mt-4">
          <p class="mb-1">Vous avez déjà un compte ?</p>
          <a href="/login" class="btn btn-link">Connectez-vous ici</a>
        </div>
      </div>
    </div>
    <div th:replace="layout :: footer"></div>
  </body>
</html>
